#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.headerText {
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin: 20px;
}
