#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.headerText {
  font-weight: bold;
  font-size: 48px;
  display: flex;
  justify-content: center;
  margin: 20px;
  font-family: "Quicksand", sans-serif;
}

.worstText {
  font-style: oblique;
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin: 20px;
  font-family: "Quicksand", sans-serif;
}

.menuItem {
  font-family: "Quicksand", sans-serif;
}

.juleKnap {
  position: fixed;
  top: 650px;
  left: 40%;
}
